@model UniversityProject.Entities.User
 
<br />
<br />
<br />
<br />
<br />


@if (TempData["AlertMessage"] != null)
{
    <script>
        alert('@Html.Raw(TempData["AlertMessage"])')
    </script>
}
<br />
<br />
<br />
<br />
<br />
 

<div class="row">
    <div class="col-lg-6 col-md-10 m-auto m-b-30">
        <div class="text-center">
            <div class="user-box">
                @{
                    if (ViewBag.Error != null)
                    {
                        <div class="alert alert-danger" role="alert">
                            @ViewBag.Error
                        </div>
                    }
                }
                <form asp-action="Register" asp-controller="Account" method="post" class="col-sm-6">
                    <div id="form" class="m-t-30 m-b-30" asp-controller="Account" asp-action="Login" method="POST" role="form">

                        <div class="form-group">
                            <div class="input-group round">
                                <span class="input-group-addon">
                                    <i class="icon-envelope"></i>
                                </span>
                                <input asp-for="@Model.Firstname" class="form-control ltr text-left" type="text" required placeholder="First Name">
                            </div><!-- /.input-group -->
                        </div><!-- /.form-group -->

                        <div class="form-group">
                            <div class="input-group round">
                                <span class="input-group-addon">
                                    <i class="icon-envelope"></i>
                                </span>
                                <input asp-for="@Model.Lastname" class="form-control ltr text-left" type="text" required placeholder="Last Name">
                            </div><!-- /.input-group -->
                        </div><!-- /.form-group -->






                        <div class="form-group">
                            <div class="input-group round">
                                <span class="input-group-addon">
                                    <i class="icon-envelope"></i>
                                </span>
                                <input asp-for="@Model.Email" class="form-control ltr text-left" type="email" required placeholder="Email@Email.com">
                            </div><!-- /.input-group -->
                        </div><!-- /.form-group -->
                        <div class="form-group">
                            <div class="input-group round">
                                <span class="input-group-addon">
                                    <i class="icon-envelope"></i>
                                </span>
                                <input asp-for="@Model.UserName" class="form-control ltr text-left" type="text" required placeholder="UserName">
                            </div><!-- /.input-group -->
                        </div><!-- /.form-group -->
                        <div class="form-group">
                            <div class="input-group round">
                                <span class="input-group-addon">
                                    <i class="icon-envelope"></i>
                                </span>
                                <input name="Password" class="form-control ltr text-left" type="password" required placeholder="Password" />

                            </div><!-- /.input-group -->
                        </div><!-- /.form-group -->


                        <button style="background-color: green; color: white;" class="btn btn-round btn-block col-sm-6" type="submit">Register</button>

                    </div>

                    <br />

                </form>
                <div class="btn-round btn-block col-sm-6">
                    <a class="btn btn-info btn-round btn-block col-sm-6" asp-controller="Account" asp-action="Login" asp-area="" style="">Login</a>

                </div>

            </div>
        </div>
    </div>
</div>
<link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script>

@* <meta charset="UTF-8">
<link rel="stylesheet" href="~/style22.css">
<script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
<script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
<link rel='stylesheet' href='https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&amp;display=swap'>

 *@


