@model IEnumerable<UniversityProject.Entities.Lesson>

<br />
<br />
<br />



<div class="our-blog">
    <div class="container">
        <div class="session-title row">
            <h2>Our Blog</h2>
        </div>

        <div class="row-blog row">
            <div class="col-md-10 vbf mx-auto">


                @foreach (var item in Model)
                {
                    <tr>
                        <td>@item.Name</td>
                        <td>@item.Description</td>
@*                         <td>@item.Birthdate.ToShortDateString()</td>
                        <td>@item.CreatedOn.ToShortDateString()</td>
                        <td>@item.IssystemAdmin</td> *@
                        <td>
                            <a href="@Url.Action("Edit", new { id = item.Id })" class="btn btn-warning btn-sm">Edit</a>
                            <a href="@Url.Action("Details", new { id = item.Id })" class="btn btn-info btn-sm">Details</a>
                            <a href="@Url.Action("Delete", new { id = item.Id })" class="btn btn-danger btn-sm">Delete</a>
                        </td>
                    </tr>
                }


                <div class="blog-card row">

                    <div class="col-2">
                        <div class="date-box">
                            <span>Jun</span>
                            <p>3</p>
                            <small>2019</small>
                        </div>

                    </div>
                    <div class="col-7 setv">
                        <h4>Photo Exibition in the Library</h4>
                        <ul>
                            <li>8:00 - 12:00</li>
                            <li>Forest, Avenue, Aenean egestas</li>
                        </ul>
                    </div>
                    <div class="col-3 img-cv">
                        <img src="~/assets/images/cources/cource-1.jpg" alt="">
                    </div>
                </div>

                

            </div>
        </div>
    </div>
</div>

