@model IEnumerable<UniversityProject.Entities.Course>

@{
    ViewData["Title"] = "Courses";
    var isAuthenticated = User.Identity.IsAuthenticated;
}

@if (!ViewData.ModelState.IsValid)
{
    <div class="alert alert-danger">
        @Html.ValidationSummary()
    </div>
}




<!-- ######## Page  Title End ####### -->
<!-- ################# popular Cources Starts Here#######################--->
<div class="popular-cources pc2">


    <!--  ************************* Page Title Starts Here ************************** -->
    <div class="page-nav no-margin row">
        <div class="container">
            <div class="row">
                <h2>Cources</h2>
                <ul>
                    <li> <a href="#"><i class="fas fa-home"></i> Home</a></li>
                    <li><i class="fas fa-angle-double-right"></i> Cources</li>
                    @if (!string.IsNullOrEmpty(ViewBag.ErrorMessage))
                    {
                        <li style="color: green;"><i class="fas fa-angle-double-right"></i> @ViewBag.ErrorMessage</li>
                        
                    }

                </ul>
            </div>
        </div>
    </div>


    <div class="our-blog">
        <div class="container">
            <p>
                <a href="@Url.Action("Create")" class="btn btn-primary ">Create New Course</a>
                <br />
                <br />
                <form asp-controller="Course" asp-action="Index" method="get">
                    <div class="input-group">
                        @if (!string.IsNullOrEmpty(ViewBag.ErrorMessage))
                        {
                            <input class="form-control" type="search" placeholder="@ViewBag.ErrorMessage" aria-label="Search" name="query">

                        }
                        @if (string.IsNullOrEmpty(ViewBag.ErrorMessage))
                        {
                        <input class="form-control" type="search" placeholder="Search" aria-label="Search" name="query">
                        }
                       
                        <button class="btn btn-outline-success" type="submit">Search</button>
                    </div>
                </form>
            </p>
        </div>

        <br />
        <br />

    </div>




    <div class="container">

        <div class="row courc-ro">

            @foreach (var item in Model)
            {
                <div class="col-md-4">
                    <div class="courc-card">
                        <img src="assets/images/cources/cource-1.jpg" alt="">
                        <div class="cource-det">
                            <h6>@item.Name</h6>
                            <ul>
                                <li>
                                    <i class="fas fa-graduation-cap"></i> @item.Teacher.Name

                                    @if (item.Cost == 0)
                                    {
                                        <span>Free</span>
                                    }
                                    else
                                    {
                                        <span>@item.Cost</span>
                                    }

                                </li>
                                <li><i class="far fa-calendar-plus"></i> @item.CreatedOn.ToString("yyyy/MM/dd hh:mm tt")</li>
                            </ul>

                            @if (isAuthenticated)
                            {
                                <form action="@Url.Action("AddToMyCourse", "Course")" method="post">
                                    @Html.Hidden("courseId", item.Id)
                                    <button type="submit" class="btn btn-sm btn-outline-secondary">Add To My Course</button>
                                </form>
                            }

                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</div>



