@model IEnumerable<UniversityProject.Models.CourseListVM>

@using Microsoft.AspNetCore.Identity
@inject SignInManager<UniversityProject.Entities.User> SignInManager
@inject UserManager<UniversityProject.Entities.User> UserManager
@{
    ViewData["Title"] = "Courses";
    var isAuthenticated = User.Identity.IsAuthenticated;
    UniversityProject.Entities.User currentUser = null;
    if (isAuthenticated)
    {
        currentUser = await UserManager.GetUserAsync(User);

    }
}
@if (ViewBag.ErrorMessagequery != null)
{
    <script>
        alert('@Html.Raw(ViewBag.ErrorMessagequery)')
    </script>
}


<div class="popular-cources pc2">
    <div class="page-nav no-margin row">
        <div class="container">
            <div class="row">
                <h2>My Courses</h2>
                <ul>
                    <li> <a href="#"><i class="fas fa-home"></i> Home</a></li>
                    <li><i class="fas fa-angle-double-right"></i>My Courses</li>
                    @if (!string.IsNullOrEmpty(ViewBag.ErrorMessage))
                    {
                        <li style="color: green;"><i class="fas fa-angle-double-right"></i> @ViewBag.ErrorMessage</li>
                    }
                </ul>
            </div>
        </div>
    </div>

    <div class="our-blog">
        
        <br />
        <br />
    </div>


    <div class="our-blog">
        <div class="container text--center">
          
            <br />
            <br />
            <table class="table table-bordered table-hover text-center">
                <thead class="thead-dark">
                    <tr>
                        <th>Name</th>
                        <th>Description</th>
                        <th>TeacherName</th>
                        <th>Created</th>
                        <th>StudentNumber</th>
                        @if (isAuthenticated && currentUser.IsTeacher)
                        {
                            <th>Actions</th>
                        }
                       
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>@item.Name</td>
                            <td>@item.Description</td>
                            <td>@item.TeacherName</td>
                            <td>@item.CreatedOn.ToString("yyyy/MM/dd hh:mm tt")</td>
                            <td>@item.StudentNumber</td>
                            @if (isAuthenticated && currentUser.IsTeacher)
                            {
                                <td>
                                    <a href="@Url.Action("Edit", new { id = item.Id })" class="btn btn-warning btn-sm">Edit</a>
                                    <a href="@Url.Action("Details", new { id = item.Id })" class="btn btn-info btn-sm">Details</a>
                                    <a href="@Url.Action("Delete", new { id = item.Id })" class="btn btn-danger btn-sm">Delete</a>
                                    <!-- Button trigger modal -->


                                </td>
                            }
                           
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>


</div>



<script src="~/js/loadImages.js"></script>

